/* @font-face {
    font-family: 'Fraunces' ;
    src: url(fonts/Fraunces);
    font-family: 'montserrat' ;
    src: url(fonts/Montserrat);
} */
*{
    padding: 0;
    margin: 0;

}
body {
    width: 100%;
    background-color: hsl(30, 38%, 92%);

}
#div{
    width: 70%;
    height: 550px;
    display: flex;
    margin: auto;
    transform: translate(0%, 8%); 
    overflow: hidden;
    border-radius: 20px;
}
.part1{
    width: 50%;
    background-image: url(../image-product-desktop.jpg);
    background-size: cover;
    background-position: 0% 20%;
    background-repeat: no-repeat;
}
.img {
    object-fit: cover;
    object-position: 15% 20%;
}
.part2{
    width: 50%;
    background-color: hsl(0, 0%, 100%);
}
.part2 div:nth-child(1){
    height: max-content;
    display: flex;
    flex-flow: column wrap;
    margin: auto;
}
.part2  div:nth-child(1) p:nth-child(1){
    font: 16px 'montserrat', sans-serif ;
    font-weight: 500;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: hsl(228, 12%, 48%);
    padding: 40px 0px 30px 75px;
}
.part2 div:nth-child(1) p:nth-child(2){
    font: 45px 'Fraunces', serif;
    font-weight: 700;
    padding: 0px 0px 20px 70px;
    width: 70%;

}
.part2 div:nth-child(1) p:nth-child(3){
   font: 18px 'montserrat',sans-serif;
   font-weight: 500;
   line-height: 1.5;
   color:hsl(228, 12%, 48%) ;
   box-sizing: content-box;
   padding: 0px 70px 0px 70px;
   width: 70%;
}
.part2 div:nth-child(2){
    display: flex;
    padding-left:68px ;
    margin:4% 0% 5%;
}
.part2 div:nth-child(2) p:nth-child(1){
    font: 40px 'Fraunces', serif;
    font-weight: 700;
    color: hsl(140, 96%, 11%) ;

}
.part2 div:nth-child(2) p:nth-child(2){
    font: 15px 'Fraunces', serif;
    padding: 14px 35px;
    font-weight: 700;
    color: hsl(228, 12%, 48%) ;

}
button{
    width: 65%;
    height: 60px;
    background-color: hsl(140, 96%, 11%) ;
    outline: none;
    border-radius: 10px;
    color:  hsl(0, 0%, 100%);
    margin-inline:15%;
    border: 1px solid hsl(0, 0%, 100%) ;
    font: 18px 'Montserrat', sans-serif;
    font-weight: 700;
}
button:hover{
    background-color: hsl(228, 12%, 48%) ;
    /* color: hsl(140, 96%, 11%); */
}
.fa-cart-plus{
    margin-right: 15px;
}